@font-face {
    font-family: "Open Sans";
    src: url(@/assets/fonts/OpenSans-VariableFont_wdth,wght.ttf);
    display: block;
}

@font-face {
    font-family: "Gandalf";
    src: url(@/assets/fonts/MorrisRoman-Black.ttf);
    display: block;
}